---
import EditorialVue from '../../../../components/gauntlet/EditorialSwamp.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Gauntlet – Editorial Level 2 (Vue)</title>
	</head>
	<body>
		<EditorialVue client:only="vue" />
	</body>
</html>
